<a href="https://colab.research.google.com/github/chandlereskey17/327_proj1_make/blob/master/hw5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#q1


import numpy as np
import scipy.stats as stats

I = 4
J = 3
MSTr = 2670
MSE = 1095.4

N = I * J
k = I

F = MSTr/MSE

print(F)

dof_total = N - 1
dof_treatment = I - 1
dof_error = dof_total-dof_treatment
alpha = 0.05

fdist = stats.f(dof_treatment, dof_error)
fhigh = fdist.ppf(1-alpha)

print(fhigh)

2.4374657659302534
4.06618055135116

In [7]:
#q2

groupA = np.array([655.5,788.3,734.3,721.4,679.1,699.4])
groupB = np.array([789.2,772.5,786.9,686.1,732.1,774.8])
groupC = np.array([737.1,639.0,696.3,671.7,717.2,727.1])
groupD = np.array([535.1,628.7,542.4,559.0,586.9,520.0])

a = 4
n = 6

idA = np.ones(n)
idB = 2.0*np.ones(n)
idC = 3.0*np.ones(n)
idD = 4.0*np.ones(n)

data = np.concatenate([groupA, groupB, groupC, groupD])
id = np.concatenate([idA, idB, idC, idD])

data2 = np.transpose(np.vstack((data, id)))

print(data2)

import pandas as pd

df = pd.DataFrame(data2, columns=['value', 'treatment'])

df.head(100)

[[655.5   1. ]
 [788.3   1. ]
 [734.3   1. ]
 [721.4   1. ]
 [679.1   1. ]
 [699.4   1. ]
 [789.2   2. ]
 [772.5   2. ]
 [786.9   2. ]
 [686.1   2. ]
 [732.1   2. ]
 [774.8   2. ]
 [737.1   3. ]
 [639.    3. ]
 [696.3   3. ]
 [671.7   3. ]
 [717.2   3. ]
 [727.1   3. ]
 [535.1   4. ]
 [628.7   4. ]
 [542.4   4. ]
 [559.    4. ]
 [586.9   4. ]
 [520.    4. ]]

    value  treatment
0   655.5        1.0
1   788.3        1.0
2   734.3        1.0
3   721.4        1.0
4   679.1        1.0
5   699.4        1.0
6   789.2        2.0
7   772.5        2.0
8   786.9        2.0
9   686.1        2.0
10  732.1        2.0
11  774.8        2.0
12  737.1        3.0
13  639.0        3.0
14  696.3        3.0
15  671.7        3.0
16  717.2        3.0
17  727.1        3.0
18  535.1        4.0
19  628.7        4.0
20  542.4        4.0
21  559.0        4.0
22  586.9        4.0
23  520.0        4.0

In [9]:
#Q3
a = 3
n = 10

N = a*n
dof_total = N-1
dof_treatment = a - 1
dof_error = dof_total - dof_treatment

SS_treatment = 591.7
SS_error = 4775.9

MS_treatment = SS_treatment/dof_treatment
MS_error = SS_error/dof_error

fSN = MS_treatment/MS_error

print("F = ", fSN)

alpha = 0.05

fdist = stats.f(dof_treatment, dof_error)
fhigh = fdist.ppf(1-alpha)

print(fhigh)

F =  1.6725538641931366
3.3541308285291986

In [6]:
#Q4
import numpy as np
import scipy.stats as stats


a = 4
n = 8

N = a*n
dof_total = N-1
dof_treatment = a - 1
dof_error = dof_total - dof_treatment

xbar = np.array([4.35, 4.85, 5.20, 6.20])
xbarbar = xbar.mean()

SS_treatment = 0.0
for x in xbar:
  SS_treatment += n * (x - xbarbar)**2

sumxij2 = 1011.86
SS_total = sumxij2 - N * xbarbar**2
SS_error = SS_total - SS_treatment

MS_treatment = SS_treatment/dof_treatment
MS_error = SS_error/dof_error

fSN = MS_treatment/MS_error

print("F = ", fSN)

alpha = 0.05

fdist = stats.f(dof_treatment, dof_error)
fhigh = fdist.ppf(1-alpha)

print(fhigh)

F =  0.9228973011810134
2.9466852660172655

In [13]:
#Q5

a = 4
n = 8

N = a*n
dof_total = N-1
dof_treatment = a - 1
dof_error = dof_total - dof_treatment
group1 = np.array([20.4, 28.1, 27.8, 27.0, 27.8, 25.2, 25.3, 27.1, 20.5, 32.0])
group2 = np.array([26.4,24.0,26.2,20.2,23.6,34.0,17.1,26.8,23.7,25.1])
group3 = np.array([30.2,34.0,27.5,29.4,27.9,26.2,29.9,29.5,30.0,36.0])
group4 = np.array([37.0,44.2,34.1,30.3,31.7,33.1,34.1,32.9,36.3,25.3])
xbar = np.array([group1.mean(),group2.mean(),group3.mean(),group4.mean()])
xbarbar = xbar.mean()

SS_treatment = 0.0
sumxij2 = 0.0
for x in xbar:
  SS_treatment += n * (x - xbarbar)**2

print(SS_treatment)


SS_total = sumxij2 - N * xbarbar**2
SS_error = SS_total - SS_treatment

print(SS_error, SS_total)

MS_treatment = SS_treatment/dof_treatment
MS_error = SS_error/dof_error

print(MS_treatment, MS_error)

fSN = MS_treatment/MS_error

alpha = 0.01

fdist = stats.f(dof_treatment, dof_error)
fhigh = fdist.ppf(1-alpha)

print(fhigh)

411.7286000000006
-26765.216800000006 -26353.488200000003
137.24286666666686 -955.9006000000002
2.9466852660172655

In [ ]:
#Q6

In [ ]:
#Q7

In [ ]:
#Q8

In [ ]:

# Tukey's Procedure
#
# Step 1:  Calculate the standard error = sqrt(MS_error/n)

from q_tukey import q_tukey

std_error = np.sqrt(MS_error/n)
print ("Standard Error = %0.3f" % std_error)

# Step 2:  Order the means from smallest to largest

print ("Original Xbar = ",xbar)
xbar_orig = xbar.copy()
xbar.sort()
print ("Sorted Xbar = ",xbar)

# Step 3:  Get the expected number of error bars (sem) between largest and smallest, for the number
# of means to be compared (a).  For this, we need the studentized range table values q(alpha,dof_error,k) for k=2..a.
# 
# http://www.real-statistics.com/statistics-tables/studentized-range-q-table/
# For this problem, dof_error = 15, alpha = 0.05, k = 2,3,4,5
# q = np.array([3.014,3.673,4.076,4.367])

n_means=len(xbar)
q = q_tukey(n_means,dof_error,alpha)
print (q)

# Step 4:  Calculate W = q(k=5)*std_error

W = q[n_means-2]*std_error

print ("W = %0.1f" % W)

# Step 5:  Make pair-wise comparisons

print (list(xbar_orig))

print ("i j xbar1 xbar2 Diff Diff_comp Result")
for i in range(len(xbar)):
    for j in range(len(xbar)):
        if (xbar[j] > xbar[i]):
            diff = (xbar[j] - xbar[i])/std_error
            diff_comp = q[j-i-1]
            if (diff>diff_comp):
                Result = "Yes"
            else:
                Result = "No"
            iorig = list(xbar_orig).index(xbar[i])+1
            jorig = list(xbar_orig).index(xbar[j])+1
            print ("%0.0f %0.0f %0.1f %0.1f %0.3f  %0.3f %s" % (iorig,jorig,xbar[i],xbar[j],diff,diff_comp,Result))

In [10]:
a = 4
n = 8

N = a*n
dof_total = N-1
dof_treatment = a - 1
dof_error = dof_total - dof_treatment

xbar = np.array([4.39, 4.52, 5.49, 6.36])
xbarbar = xbar.mean()

SS_treatment = 0.0
for x in xbar:
  SS_treatment += n * (x - xbarbar)**2

sumxij2 = 911.91
SS_total = sumxij2 - N * xbarbar**2
SS_error = SS_total - SS_treatment

MS_treatment = SS_treatment/dof_treatment
MS_error = SS_error/dof_error

fSN = MS_treatment/MS_error

print("F = ", fSN)

alpha = 0.05

fdist = stats.f(dof_treatment, dof_error)
fhigh = fdist.ppf(1-alpha)

print(fhigh)

F =  6.4328811098637395
2.9466852660172655